@import './styles/fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure Vazir font is applied to all elements */
@layer base {
  html {
    font-family: 'Vazir', sans-serif;
  }
}
